projetAnnuaire/WebContent/wsdl/Annuaire.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createCategory">
    <complexType>
     <sequence>
      <element name="newCategory" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCategoryResponse">
    <complexType/>
   </element>
   <element name="getCategorieByString">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorieByStringResponse">
    <complexType>
     <sequence>
      <element name="getCategorieByStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delCategorie">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="delCategorieResponse">
    <complexType/>
   </element>
   <element name="modifyCategorie">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
      <element name="nouveau_nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyCategorieResponse">
    <complexType/>
   </element>
   <element name="viewAllCategories">
    <complexType/>
   </element>
   <element name="viewAllCategoriesResponse">
    <complexType>
     <sequence>
      <element name="viewAllCategoriesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorie">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorieResponse">
    <complexType>
     <sequence>
      <element name="getCategorieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="add">
    <complexType>
     <sequence>
      <element name="val1" type="xsd:int"/>
      <element name="val2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCategorieRequest">

      <wsdl:part element="impl:getCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieResponse">

      <wsdl:part element="impl:getCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyCategorieRequest">

      <wsdl:part element="impl:modifyCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCategoryRequest">

      <wsdl:part element="impl:createCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCategorieResponse">

      <wsdl:part element="impl:delCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCategoryResponse">

      <wsdl:part element="impl:createCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyCategorieResponse">

      <wsdl:part element="impl:modifyCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllCategoriesRequest">

      <wsdl:part element="impl:viewAllCategories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCategorieRequest">

      <wsdl:part element="impl:delCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieByStringResponse">

      <wsdl:part element="impl:getCategorieByStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllCategoriesResponse">

      <wsdl:part element="impl:viewAllCategoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieByStringRequest">

      <wsdl:part element="impl:getCategorieByString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Annuaire">

      <wsdl:operation name="createCategory">

         <wsdl:input message="impl:createCategoryRequest" name="createCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCategoryResponse" name="createCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorieByString">

         <wsdl:input message="impl:getCategorieByStringRequest" name="getCategorieByStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategorieByStringResponse" name="getCategorieByStringResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCategorie">

         <wsdl:input message="impl:delCategorieRequest" name="delCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:delCategorieResponse" name="delCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyCategorie">

         <wsdl:input message="impl:modifyCategorieRequest" name="modifyCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyCategorieResponse" name="modifyCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllCategories">

         <wsdl:input message="impl:viewAllCategoriesRequest" name="viewAllCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllCategoriesResponse" name="viewAllCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdl:input message="impl:getCategorieRequest" name="getCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategorieResponse" name="getCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AnnuaireSoapBinding" type="impl:Annuaire">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorieByString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategorieByStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategorieByStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AnnuaireService">

      <wsdl:port binding="impl:AnnuaireSoapBinding" name="Annuaire">

         <wsdlsoap:address location="http://localhost:8080/projetAnnuaire/services/Annuaire"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
