projetAnnuaire/WebContent/wsdl/Annuaire.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="val1" type="xsd:int"/>
      <element name="val2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCategory">
    <complexType>
     <sequence>
      <element name="newCategory" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCategoryResponse">
    <complexType/>
   </element>
   <element name="viewAllAnnonceByCat">
    <complexType>
     <sequence>
      <element name="idCat" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllAnnonceByCatResponse">
    <complexType>
     <sequence>
      <element name="viewAllAnnonceByCatReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllAnnonceByAdr">
    <complexType>
     <sequence>
      <element name="idAdr" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllAnnonceByAdrResponse">
    <complexType>
     <sequence>
      <element name="viewAllAnnonceByAdrReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllAnnonceByNom">
    <complexType>
     <sequence>
      <element name="Nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllAnnonceByNomResponse">
    <complexType>
     <sequence>
      <element name="viewAllAnnonceByNomReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorieByString">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorieByStringResponse">
    <complexType>
     <sequence>
      <element name="getCategorieByStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdresseByString">
    <complexType>
     <sequence>
      <element name="rue" type="xsd:string"/>
      <element name="ville" type="xsd:string"/>
      <element name="cp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdresseByStringResponse">
    <complexType>
     <sequence>
      <element name="getAdresseByStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllCategories">
    <complexType/>
   </element>
   <element name="viewAllCategoriesResponse">
    <complexType>
     <sequence>
      <element name="viewAllCategoriesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyAdresse">
    <complexType>
     <sequence>
      <element name="adresse_id" type="xsd:int"/>
      <element name="nouveau_rue" type="xsd:string"/>
      <element name="nouveau_ville" type="xsd:string"/>
      <element name="nouveau_cp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyAdresseResponse">
    <complexType/>
   </element>
   <element name="modifyAnnonce">
    <complexType>
     <sequence>
      <element name="annonce_id" type="xsd:int"/>
      <element name="nouveau_nom" type="xsd:string"/>
      <element name="nouveau_tel" type="xsd:string"/>
      <element name="idCat" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyAnnonceResponse">
    <complexType/>
   </element>
   <element name="getAnnonce">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAnnonceResponse">
    <complexType>
     <sequence>
      <element name="getAnnonceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdresseByID">
    <complexType>
     <sequence>
      <element name="ID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdresseByIDResponse">
    <complexType>
     <sequence>
      <element name="getAdresseByIDReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorie">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorieResponse">
    <complexType>
     <sequence>
      <element name="getCategorieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAdresse">
    <complexType>
     <sequence>
      <element name="rue" type="xsd:string"/>
      <element name="ville" type="xsd:string"/>
      <element name="cp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAdresseResponse">
    <complexType/>
   </element>
   <element name="delCategorie">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="delCategorieResponse">
    <complexType/>
   </element>
   <element name="delAnnonce">
    <complexType>
     <sequence>
      <element name="annonce_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="delAnnonceResponse">
    <complexType/>
   </element>
   <element name="viewAllAdresse">
    <complexType/>
   </element>
   <element name="viewAllAdresseResponse">
    <complexType>
     <sequence>
      <element name="viewAllAdresseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllAnnonce">
    <complexType/>
   </element>
   <element name="viewAllAnnonceResponse">
    <complexType>
     <sequence>
      <element name="viewAllAnnonceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAnnonce">
    <complexType>
     <sequence>
      <element name="nom" type="xsd:string"/>
      <element name="idCat" type="xsd:int"/>
      <element name="telephone" type="xsd:string"/>
      <element name="idAdresse" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAnnonceResponse">
    <complexType/>
   </element>
   <element name="modifyCategorie">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
      <element name="nouveau_nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyCategorieResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="viewAllAnnonceByNomRequest">

      <wsdl:part element="impl:viewAllAnnonceByNom" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieResponse">

      <wsdl:part element="impl:getCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdresseByStringResponse">

      <wsdl:part element="impl:getAdresseByStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyCategorieRequest">

      <wsdl:part element="impl:modifyCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCategoryRequest">

      <wsdl:part element="impl:createCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyAnnonceRequest">

      <wsdl:part element="impl:modifyAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAdresseResponse">

      <wsdl:part element="impl:createAdresseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCategorieResponse">

      <wsdl:part element="impl:delCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCategoryResponse">

      <wsdl:part element="impl:createCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delAnnonceResponse">

      <wsdl:part element="impl:delAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAnnonceRequest">

      <wsdl:part element="impl:createAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAnnonceResponse">

      <wsdl:part element="impl:getAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieByStringResponse">

      <wsdl:part element="impl:getCategorieByStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdresseByStringRequest">

      <wsdl:part element="impl:getAdresseByString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAnnonceResponse">

      <wsdl:part element="impl:createAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAdresseRequest">

      <wsdl:part element="impl:viewAllAdresse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAnnonceByAdrRequest">

      <wsdl:part element="impl:viewAllAnnonceByAdr" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyAdresseResponse">

      <wsdl:part element="impl:modifyAdresseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieRequest">

      <wsdl:part element="impl:getCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAnnonceRequest">

      <wsdl:part element="impl:getAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAnnonceByAdrResponse">

      <wsdl:part element="impl:viewAllAnnonceByAdrResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdresseByIDRequest">

      <wsdl:part element="impl:getAdresseByID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAnnonceResponse">

      <wsdl:part element="impl:viewAllAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAnnonceByCatRequest">

      <wsdl:part element="impl:viewAllAnnonceByCat" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAnnonceByCatResponse">

      <wsdl:part element="impl:viewAllAnnonceByCatResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAdresseRequest">

      <wsdl:part element="impl:createAdresse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyCategorieResponse">

      <wsdl:part element="impl:modifyCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delAnnonceRequest">

      <wsdl:part element="impl:delAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllCategoriesRequest">

      <wsdl:part element="impl:viewAllCategories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAnnonceRequest">

      <wsdl:part element="impl:viewAllAnnonce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCategorieRequest">

      <wsdl:part element="impl:delCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyAnnonceResponse">

      <wsdl:part element="impl:modifyAnnonceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAdresseResponse">

      <wsdl:part element="impl:viewAllAdresseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllCategoriesResponse">

      <wsdl:part element="impl:viewAllCategoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllAnnonceByNomResponse">

      <wsdl:part element="impl:viewAllAnnonceByNomResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieByStringRequest">

      <wsdl:part element="impl:getCategorieByString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyAdresseRequest">

      <wsdl:part element="impl:modifyAdresse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdresseByIDResponse">

      <wsdl:part element="impl:getAdresseByIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Annuaire">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCategory">

         <wsdl:input message="impl:createCategoryRequest" name="createCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCategoryResponse" name="createCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAnnonceByCat">

         <wsdl:input message="impl:viewAllAnnonceByCatRequest" name="viewAllAnnonceByCatRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllAnnonceByCatResponse" name="viewAllAnnonceByCatResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAnnonceByAdr">

         <wsdl:input message="impl:viewAllAnnonceByAdrRequest" name="viewAllAnnonceByAdrRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllAnnonceByAdrResponse" name="viewAllAnnonceByAdrResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAnnonceByNom">

         <wsdl:input message="impl:viewAllAnnonceByNomRequest" name="viewAllAnnonceByNomRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllAnnonceByNomResponse" name="viewAllAnnonceByNomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorieByString">

         <wsdl:input message="impl:getCategorieByStringRequest" name="getCategorieByStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategorieByStringResponse" name="getCategorieByStringResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdresseByString">

         <wsdl:input message="impl:getAdresseByStringRequest" name="getAdresseByStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdresseByStringResponse" name="getAdresseByStringResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllCategories">

         <wsdl:input message="impl:viewAllCategoriesRequest" name="viewAllCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllCategoriesResponse" name="viewAllCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyAdresse">

         <wsdl:input message="impl:modifyAdresseRequest" name="modifyAdresseRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyAdresseResponse" name="modifyAdresseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyAnnonce">

         <wsdl:input message="impl:modifyAnnonceRequest" name="modifyAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyAnnonceResponse" name="modifyAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAnnonce">

         <wsdl:input message="impl:getAnnonceRequest" name="getAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAnnonceResponse" name="getAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdresseByID">

         <wsdl:input message="impl:getAdresseByIDRequest" name="getAdresseByIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdresseByIDResponse" name="getAdresseByIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdl:input message="impl:getCategorieRequest" name="getCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategorieResponse" name="getCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAdresse">

         <wsdl:input message="impl:createAdresseRequest" name="createAdresseRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAdresseResponse" name="createAdresseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCategorie">

         <wsdl:input message="impl:delCategorieRequest" name="delCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:delCategorieResponse" name="delCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delAnnonce">

         <wsdl:input message="impl:delAnnonceRequest" name="delAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:delAnnonceResponse" name="delAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAdresse">

         <wsdl:input message="impl:viewAllAdresseRequest" name="viewAllAdresseRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllAdresseResponse" name="viewAllAdresseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAnnonce">

         <wsdl:input message="impl:viewAllAnnonceRequest" name="viewAllAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllAnnonceResponse" name="viewAllAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAnnonce">

         <wsdl:input message="impl:createAnnonceRequest" name="createAnnonceRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAnnonceResponse" name="createAnnonceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyCategorie">

         <wsdl:input message="impl:modifyCategorieRequest" name="modifyCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyCategorieResponse" name="modifyCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AnnuaireSoapBinding" type="impl:Annuaire">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAnnonceByCat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllAnnonceByCatRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllAnnonceByCatResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAnnonceByAdr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllAnnonceByAdrRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllAnnonceByAdrResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAnnonceByNom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllAnnonceByNomRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllAnnonceByNomResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorieByString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategorieByStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategorieByStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdresseByString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdresseByStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdresseByStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyAdresse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAdresseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyAdresseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdresseByID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdresseByIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdresseByIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAdresse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAdresseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAdresseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAdresse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllAdresseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllAdresseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAnnonce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAnnonceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAnnonceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AnnuaireService">

      <wsdl:port binding="impl:AnnuaireSoapBinding" name="Annuaire">

         <wsdlsoap:address location="http://localhost:8080/projetAnnuaire/services/Annuaire"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
